@CHARSET "ISO-8859-1";

html {
	font-family: sans-serif;
}

body {
	background-color: #f9f9f9;
}

h1 {
	text-align: center;
}

#messaggio_di_errore {
	font-weight: bolder;
	color: #ff0000;
	text-align: center;
}

.campo_con_errore {
	font-weight: bolder;
	color: #ffffff;
	background-color: #ee0000;
}

.campo_nascosto {
	visibility: hidden;
}
